<html>
    <head>
        <title>♥RAGE♥</title>
    </head>
    <body>
        <div>
            <h1><a href="/">glory to my hate</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>why the hell my roommate is so dumb? or just shy. or just fuckin pussy that can not say to some jerk that ALL here payin rent in time. i need to get outa here. i pay for seeing pigs every day? or just to see that my orders doesnt make a sound for eberyone here. fuck. i'm sick. </p>
        </div>
    </body>
</html>